# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/AtlasEngine/AtlasEngine/Debug
/AtlasEngine/ipch/atlasengine-258d178c
/AtlasEngine/AtlasEngine/Release
/AtlasEngine/Release
/AtlasEngine/x64/Release
/AtlasEngine/Performance2.psess
/AtlasEngine/packages
/AtlasEngine/AtlasEngine141229(1).vsp
/AtlasEngine/AtlasEngine141229(2).vsp
/AtlasEngine/AtlasEngine141229(3).vsp
/AtlasEngine/AtlasEngine141229.vsp
/AtlasEngine/Performance1.psess
